<div class="container">
  <div class="row" [hidden]="submitted">
    <div class="form-bg">
      <form #studentForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Student Registration</h3>
          </div>

          <div class="panel-body">

            <div class="form-group">
              <label for="name">First Name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
                #name="ngModel">
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
              </div>
            </div>

            <div class="form-group">
              <label for="lastName">Email</label>
              <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email"
                #email="ngModel">
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
              </div>
            </div>


            <div class="form-group">
              <label for="power">Hobbies</label>
              <select class="form-control" id="power" required [(ngModel)]="model.hobbies" name="power"
                #power="ngModel">
                <option *ngFor="let pow of hobbies" [value]="pow">{{pow}}</option>
              </select>
              <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
                Hobbies is required
              </div>
            </div>

            <div class="form-group">
              <label>Gender</label>
              <div class="form-control">
                <label class="radio-inline">
                  <input type="radio" name="gender" value="male" checked [(ngModel)]="model.gender">
                  Male
                </label>
                <label class="radio-inline">
                  <input type="radio" name="gender" value="female" [(ngModel)]="model.gender">
                  Female
                </label>
              </div>
            </div>

          </div>

          <button type="submit" class="btn btn-success" [disabled]="!studentForm.form.valid">Submit</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="newHero(); studentForm.reset()">Changes</button>
          &nbsp;<i>with</i> reset

          &nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="newHero()">Changes</button>
          &nbsp;<i>without</i> reset
        </div>
      </form>
    </div>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">User Name</div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Hobbies</div>
        <div class="col-xs-9">{{ model.hobbies }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Email</div>
        <div class="col-xs-9">{{ model.email }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Gender</div>
        <div class="col-xs-9">{{ model.gender }}</div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>